<div class="container col-xs-5">
<div class="card">
    <h3 class="card-header">Horizon Power</h3>
    <div class="card-block">
        <h4 class="card-title">Rep Login</h4>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
            <div class="form-group">
                <label for="usr">Name:</label>
                <input name="username" ngModel required #username="ngModel" type="text" class="form-control" id="usr" required>
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input name="password" ngModel required #password="ngModel" type="password" class="form-control" id="pwd" required>
            </div>
            <button type="submit" class="btn btn-default">Login</button>
        </form>
    </div>
</div>
</div>
